<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.lclass.board2.vo.Board2Vo" alias="Board2Vo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/board2-mappers.xml"/>
	</mappers>
</configuration>
